<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://akahuku.github.io/akahukuplus/" defaultlocale="ja" version="0.0.1">
	<name>akahukuplus</name>
	<description>Take your futaba life higher.</description>

	<license href="http://www.apache.org/licenses/LICENSE-2.0.html">Licensed under the Apache License, Version 2.0</license>
	<author href="http://appsweets.net/" email="akahuku@gmail.com">toshiaki futaba</author>

	<icon src="images/icon048.png" width="48" height="48"/>
	<icon src="images/icon128.png" width="128" height="128"/>
	<content src="backend/main.html" encoding="UTF-8" type="text/html"/>

	<access origin="http://2chan.net/" subdomains="true"/>
	<access origin="http://www.nijibox2.com/"/>
	<access origin="http://www.nijibox5.com/"/>
	<access origin="http://www.nijibox6.com/"/>
	<access origin="https://twitter.com/" subdomains="true"/>

	<access origin="https://dropbox.com/" subdomains="true"/>
	<access origin="https://google.com/" subdomains="true"/>
	<access origin="https://googleapis.com/" subdomains="true"/>
	<access origin="https://apis.live.net/"/>
</widget>
